#div {
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#div div {
    font-size: 20px;
    font-weight: 900; 
}

.vermelho {
    color: red;
}

.azul {
    color: blue;
}

.branco {
    color:antiquewhite
}